
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Система хранения и мониторинга оконечных устройств" />
    <title>PBXmon | NLS Kazakhstan</title>
    <meta name="keywords" content="SCaMED">
    <link rel="stylesheet" href="http://127.0.0.1:8080/static/css/foundation.css">
</head>

<body>


    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar large-9 medium-centered">
            <div class="row">
                <div class="top-bar-left">
                    <a href="/"><img src="http://127.0.0.1:8080/static/img/lanbilling.gif">
                        </>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-head2">
        <div class="row large-9 medium-centered">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu">
                        <a href="#0"><img src="http://127.0.0.1:8080/static/img/icon_objects.gif">Объекты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#0">One</a></li>
                            <li><a href="#0">Two</a></li>
                            <li><a href="#0">Three</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="http://127.0.0.1:8080/static/img/icon_actions.gif">Действия</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#0">One</a></li>
                            <li><a href="#0">Two</a></li>
                            <li><a href="#0">Three</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="http://127.0.0.1:8080/static/img/icon_reports.gif">Отчеты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#0">One</a></li>
                            <li><a href="#0">Two</a></li>
                            <li><a href="#0">Three</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <br/>
<div class="large-9 medium-centered">
    <div class="row column">
        <div class="row">
            <form class="menu small" action="/euddb/find/" method="POST">
                <li>
                <select name="field" id="field" class="small">
                    <option value="apollo">ID клиента</option>
                    <option value="husker">Имя</option>
                    <option value="starbuck">Адрес</option>
                    <option value="hotdog">Телефон</option>
                  </select>
                </li>
                <li><input type="search" class="small" name="find" id="find" placeholder="Поиск"></li>
                <li><input type="image" class="button tiny hollow" src="http://127.0.0.1:8080/static/img/index.svg" value="߉"></li>
            </form>
        </div>
        <br/>
    </div>
    <div class="row large-up-7 tabs-head">
        <div class="column large-1">
            <h6>ID</h6>
        </div>
        <div class="column">
            <h6>Клиент </h6>
        </div>
        <div class="column">
            <h6>Адрес</h6>
        </div>
        <div class="column">
            <h6>Телефон</h6>
        </div>
        <div class="column">
            <h6>Тип абонента</h6>
        </div>
        <div class="column">
            <h6>Менеджер</h6>
        </div>
        <div class="column">
            <h6>Статус</h6>
        </div>
    </div>
    {{range .}}
    <div class="row large-up-7 tabs-content">
        <div class="column">
            <h6>{{.Id}}</h6>
        </div>
        <div class="column">
            <h6><a href="/clients/{{.Id}}">{{.Name}}</a></h6>
        </div>
        <div class="column">
            <h6>{{.Ipaddress}}</h6>
        </div>
        <div class="column">
            {{ if .Status}}
            <h6><img src="http://127.0.0.1:8080/static/img/bullet_green.png"></h6>
            {{end}} {{else}}
            <h6><img src="http://127.0.0.1:8080/static/img/bullet_red.png"></h6>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
    <div class="row position-bottom">
        <hr>
        <p class="float-left">© ООО "Сетевые Решения" 2001-2017.</p>
    </div>
    <script src="http://127.0.0.1:8080/static/js/vendor/jquery.js"></script>
    <script src="http://127.0.0.1:8080/static/js/vendor/foundation.js"></script>
    <script>
        
    </script>
</body>

</html>
