<!doctype html>
<html class="no-js" lang="en">

<head>
    
    <meta http-equiv="refresh" content="60" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Система хранения и мониторинга оконечных устройств" />
    <title>PBXmon | NLS Kazakhstan</title>
    <meta name="keywords" content="SCaMED">
    <link rel="stylesheet" href="/static/css/foundation.css">
</head>

<body>
    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar large-12 medium-centered">
            <div class="row">
                <div class="top-bar-left">
                    <a href="/"><img src="/static/img/abcom-logo1.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-head2">
        <div class="row large-12 small-12 medium-centered">
            <div class="top-bar-left large-10 small-10">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu">
                        <a href="#0"><img src="/static/img/icon_objects.gif">Объекты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/users">Пользователи</a></li>
                            <li><a href="/">Станции</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_actions.gif">Действия</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/addpbx/">Добавить АТС</a></li>
                            <li><a href="/admin/adduser">Создать пользователя</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right large-2 small-2">
                <form action="/logout" method="POST">
                    <h6><input type="submit" class="tiny hollow" value="Выход" /></h6>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="my-div column large-2 small-2 show-for-medium">
            
           <div class="row tabs-head">
            <div class="column large-1">
                <h6>ID</h6>
            </div>
            <div class="column large-4">
                <h6>АТС</h6>
            </div>
            <div class="column large-3">
                <h6 class="text-left">Стат</h6>
            </div>
        </div>
        {{range .}}
        <div class="row tabs-content">
            <div class="column large-1">
                <h6>{{.Id}}</h6>
            </div>
            <div class="column large-4">
                <h6><a href="/pbx/{{.Id}}">{{.Name}}</a></h6>
            </div>
            <div class="column large-3">
                {{if .Status}}
                <h6><img src="/static/img/bullet_green.png"></h6>
                {{else}}
                <h6><img src="/static/img/bullet_red.png"></h6>
                {{end}}
            </div>
        </div>
        {{end}}
        </div>
        
        
        <div class="column large-10 small-12">
            {{range .}}
            {{if .Status}}
            <div class="column large-1 small-3 callout tiny success">
            <a href="/pbx/{{.Id}}">
            <img src="/static/img/pbx-good.gif">
            <h6 class="mini">{{.Name}}</h6>
            </a>
            </div>
            {{else}}
            <div class="column large-1 small-3 callout tiny alert">
            <a href="/pbx/{{.Id}}">
            <img src="/static/img/pbx-bad.gif">
            <h6 class="mini">{{.Name}}</h6>
            <audio autoplay src="/static/sound/alert.mp3">
                <p>If you are reading this, it is because your browser does not support the audio element.     </p>
            </audio>
            </a>
            </div>
            {{end}}
            {{end}}
            
        </div>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
