<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="refresh" content="60" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Система хранения и мониторинга оконечных устройств" />
    <title>PBXmon | NLS Kazakhstan</title>
    <meta name="keywords" content="SCaMED">
    <link rel="stylesheet" href="/static/css/foundation.css">
</head>

<body>
    <div class="row large-12">
        <div class="row tabs-head">
            <div class="column large-1">
                <h6>ID</h6>
            </div>
            <div class="column large-4">
                <h6>АТС</h6>
            </div>
            <div class="column large-3">
                <h6 class="text-left">Стат</h6>
            </div>
        </div>
        {{range .}}
        <div class="row tabs-content">
            <div class="column large-1">
                <h6>{{.Id}}</h6>
            </div>
            <div class="column large-4">
                <h6><a href="/pbx/{{.Id}}">{{.Name}}</a></h6>
            </div>
            <div class="column large-3">
                {{if .Status}}
                <h6><img src="http://127.0.0.1:8080/static/img/bullet_green.png"></h6>
                {{else}}
                <h6><img src="http://127.0.0.1:8080/static/img/bullet_red.png"></h6>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>

    <script>
        $(document).foundation();
    </script>
    
</body>

</html>
