<!doctype html>
<html class="no-js" lang="en">

<head>
    
    <meta http-equiv="refresh" content="60" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Система хранения и мониторинга оконечных устройств" />
    <title>PBXmon | NLS Kazakhstan</title>
    <meta name="keywords" content="SCaMED">
    <link rel="stylesheet" href="/static/css/foundation.css">
</head>

<body>
    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar large-12 medium-centered">
            <div class="row">
                <div class="top-bar-left">
                    <a href="/"><img src="/static/img/abcom-logo1.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br/>
        <div class="column large-12 small-12">
            {{range .}}
            {{if .Status}}
            <div class="column large-1 small-3 callout tiny success">
            <img src="/static/img/pbx-good.gif">
            <h6 class="mini">{{.Name}}</h6>
            </div>
            {{else}}
            <div class="column large-1 small-3 callout tiny alert">
            <img src="/static/img/pbx-bad.gif">
            <h6 class="mini">{{.Name}}</h6>
            <audio autoplay src="/static/sound/alert.mp3">
                <p>If you are reading this, it is because your browser does not support the audio element.     </p>
            </audio>
            </div>
            {{end}}
            {{end}}
            
        </div>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
