<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Система хранения и мониторинга оконечных устройств" />
    <title>PBXmon | NLS Kazakhstan</title>
    <meta name="keywords" content="SCaMED">
    <link rel="stylesheet" href="/static/css/foundation.css">
</head>

<body>


    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar large-12 medium-centered">
            <div class="row">
                <div class="top-bar-left">
                    <a href="/"><img src="/static/img/abcom-logo1.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-head2">
        <div class="row large-12 medium-centered">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu">
                        <a href="#0"><img src="/static/img/icon_objects.gif">Объекты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/users">Пользователи</a></li>
                            <li><a href="/">Станции</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_actions.gif">Действия</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/addpbx/">Добавить АТС</a></li>
                            <li><a href="/admin/adduser">Создать пользователя</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <form action="/logout" method="POST">
                    <h6><input type="submit" class="tiny hollow" value="Выход" /></h6>
                </form>
            </div>
        </div>
    </div>
    <br/>
    {{$Val := index . 0}}
    <div class="row">
        <div class="my-div column large-2">
            <div class="row tabs-head">
                <div class="column large-1">
                    <h6>ID</h6>
                </div>
                <div class="column large-6">
                    <h6>PBX</h6>
                </div>
                <div class="column large-4">
                    <h6 class="text-left">Active</h6>
                </div>
            </div>
            {{range $Val.Pbxs}}
            <div class="row tabs-content">
                <div class="column large-1">
                    <h6>{{.Id}}</h6>
                </div>
                <div class="column large-4">
                    <h6><a href="/pbx/{{.Id}}">{{.Name}}</a></h6>
                </div>
                <div class="column large-3">
                    {{if .Status}}
                    <h6><img src="/static/img/bullet_green.png"></h6>
                    {{else}}
                    <h6><img src="/static/img/bullet_red.png"></h6>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
        <div class="column large-10 ">
            
            
            <div class="column large-6 callout medium-centered">
                <h5 class="text-center">Удаление станции</h5>
                <br>
                    <div class="row">
                        <div class="column large-4">
                            <h5>Имя:</h5>
                        </div>
                        <div class="column large-8">
                            <h5>{{$Val.Pbx.Name}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <h5>Описание:</h5>
                        </div>
                        <div class="column large-8">
                            <h5>{{$Val.Pbx.Title}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <h5>IP Адрес:</h5>
                        </div>
                        <div class="column large-8">
                            <h5>{{$Val.Pbx.Ipaddress}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <h5>SSH порт:</h5>
                        </div>
                        <div class="column large-8">
                            <h5>{{$Val.Pbx.SSHport}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <h5>Web порт:</h5>
                        </div>
                        <div class="column large-8">
                            <h5>{{$Val.Pbx.Webport}}</h5>
                        </div>
                    </div>
                    <br>
                    
                     <br>
                     <div class="row small-centered">
                    <a href="/admin/delpbx/{{$Val.Pbx.Id}}">
                        <h5 class="button alert small expanded">Удалить</h5>
                    </a>
                    </div>
            </div>

        </div>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
