<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="refresh" content="60" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Система хранения и мониторинга оконечных устройств" />
    <title>PBXmon | NLS Kazakhstan</title>
    <meta name="keywords" content="SCaMED">
    <link rel="stylesheet" href="/static/css/foundation.css">
</head>

<body>


    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar large-12 medium-centered">
            <div class="row">
                <div class="top-bar-left">
                    <a href="/"><img src="/static/img/abcom-logo1.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-head2">
        <div class="row large-12 medium-centered">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu">
                        <a href="#0"><img src="/static/img/icon_objects.gif">Объекты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/users">Пользователи</a></li>
                            <li><a href="/">Станции</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_actions.gif">Действия</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/addpbx/">Добавить АТС</a></li>
                            <li><a href="/admin/adduser">Создать пользователя</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_reports.gif">Отчеты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#0">One</a></li>
                            <li><a href="#0">Two</a></li>
                            <li><a href="#0">Three</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <form action="/logout" method="POST">
                    <h6><input type="submit" class="tiny hollow" value="Выход" /></h6>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="column large-12">
            <div class="callout">
                <div class="column large-9">
                    <h5>Пользователи</h5>
                </div>
                <div class="column large-3">
                    <a href="/admin/adduser">
                        <h5 class="button small">Создать пользователя</h5>
                    </a>
                    <a href="/admin/rootmodify/">
                        <h5 class="button alert small">Доступ к АТС</h5>
                    </a>
                </div>
                 <br>
                 <br>
                <div class="row columns tabs-head">
                    <div class="column large-2">
                        <h6>Login</h6>
                    </div>
                    <div class="column large-2">
                        <h6>Name</h6>
                    </div>
                    <div class="column large-3">
                        <h6>Second name</h6>
                    </div>
                    <div class="column large-2">
                        <h6>Email</h6>
                    </div>
                    <div class="column large-1">
                        <h6>Enabled</h6>
                    </div>
                    <div class="column large-1">
                        <h6 class="text-left">Tech</h6>
                    </div>
                    <div class="column large-1">
                        <h6 class="text-left">SU</h6>
                    </div>
                </div>
                {{range .}}
               
                <div class="row tabs-content">
                    <div class="column large-2">
                        <h6><a href="/admin/usermodify/{{.Id}}">{{.Username}}</a></h6>
                    </div>
                    <div class="column large-2">
                        <h6>{{.First_name}}</h6>
                    </div>
                    <div class="column large-3">
                        <h6>{{.Last_name}}</h6>
                    </div>
                    <div class="column large-2">
                        <h6>{{.Email}}</h6>
                    </div>
                    <div class="column large-1">
                        {{if .Is_active}}
                        <h6><img src="/static/img/bullet_green.png"></h6>
                        {{else}}
                        <h6><img src="/static/img/bullet_red.png"></h6>
                        {{end}}
                    </div>
                    <div class="column large-1">
                        {{if .Is_staff}}
                        <h6><img src="/static/img/bullet_green.png"></h6>
                        {{else}}
                        <h6><img src="/static/img/bullet_red.png"></h6>
                        {{end}}
                    </div>
                    <div class="column large-1">
                        {{if .Is_superuser}}
                        <h6><img src="/static/img/bullet_green.png"></h6>
                        {{else}}
                        <h6><img src="/static/img/bullet_red.png"></h6>
                        {{end}}
                    </div>
                </div>
                {{end}}

            </div>

        </div>
    </div>
    <div class="row position-bottom">
        <hr>
        <p class="float-left">© "Pavel Agafonov" 2001-2017.</p>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
