<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="refresh" content="40" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Система хранения и мониторинга оконечных устройств" />
    <title>PBXmon | NLS Kazakhstan</title>
    <meta name="keywords" content="SCaMED">
    <link rel="stylesheet" href="/static/css/foundation.css">
    {{$Val := index . 0}}
</head>

<body>


    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar large-12 medium-centered">
            <div class="row">
                <div class="top-bar-left">
                    <a href="/"><img src="/static/img/abcom-logo1.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-head2">
        <div class="row large-12 medium-centered">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu">
                        <a href="#0"><img src="/static/img/icon_objects.gif">Объекты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/users">Пользователи</a></li>
                            <li><a href="/">Станции</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_actions.gif">Действия</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/addpbx/">Добавить АТС</a></li>
                            <li><a href="/admin/adduser">Создать пользователя</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_reports.gif">Отчеты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#0">One</a></li>
                            <li><a href="#0">Two</a></li>
                            <li><a href="#0">Three</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <h6><a href="/logout"><img src="/static/img/icon_logout.gif">Выход</a></h6>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="column large-12">
            
            <br/>
<div class="row">

  <div class="medium-6 medium-centered large-4 large-centered columns">



    <form action = "/admin/rootmodify" method="post">

      <div class="row column log-in-form">
         <br>
         <br>
         <br>
         <br>
        <h4 class="text-center">Изменение доступа на АТС</h4>
        <br/>
        <label><h5>Имя пользователя:</h5>

          <input type="text" name ="username" id = "username" value="{{$Val.Username}}" required placeholder="Login">

        </label>

        <label><h5>Пароль:</h5>

          <input type="password" name ="password" id ="password" value="{{$Val.Secret}}" required placeholder="Password">


        <input type="submit" class="button expanded" value="Применить"/>

      </div>

    </form>
  </div>
</div>
</div>
        </div>
    </div>
    <div class="row position-bottom">
        <hr>
        <p class="float-left">© "Pavel Agafonov" 2001-2017.</p>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
