<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Система хранения и мониторинга оконечных устройств" />
    <title>PBXmon | NLS Kazakhstan</title>
    <meta name="keywords" content="SCaMED">
    <link rel="stylesheet" href="/static/css/foundation.css">
</head>

<body>


    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar large-12 medium-centered">
            <div class="row">
                <div class="top-bar-left">
                    <a href="/"><img src="/static/img/abcom-logo1.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-head2">
        <div class="row large-12 medium-centered">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu">
                        <a href="#0"><img src="/static/img/icon_objects.gif">Объекты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/users">Пользователи</a></li>
                            <li><a href="/">Станции</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_actions.gif">Действия</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/addpbx/">Добавить АТС</a></li>
                            <li><a href="/admin/adduser">Создать пользователя</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_reports.gif">Отчеты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#0">One</a></li>
                            <li><a href="#0">Two</a></li>
                            <li><a href="#0">Three</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <h6><a href="/logout"><img src="/static/img/icon_logout.gif">Выход</a></h6>
            </div>
        </div>
    </div>
    <br/>
    {{$Val := index . 0}}
    <div class="row">
        <div class="my-div column large-2">
            <div class="row tabs-head">
                <div class="column large-1">
                    <h6>ID</h6>
                </div>
                <div class="column large-6">
                    <h6>PBX</h6>
                </div>
                <div class="column large-4">
                    <h6 class="text-left">Active</h6>
                </div>
            </div>
            {{range $Val.Pbxs}}
            <div class="row tabs-content">
                <div class="column large-1">
                    <h6>{{.Id}}</h6>
                </div>
                <div class="column large-4">
                    <h6><a href="/admin/usermodify/{{.Id}}">{{.Name}}</a></h6>
                </div>
                <div class="column large-3">
                    {{if .Status}}
                    <h6><img src="/static/img/bullet_green.png"></h6>
                    {{else}}
                    <h6><img src="/static/img/bullet_red.png"></h6>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
        <div class="column large-10">
            
            <div class="large-6 callout">
                <h5 class="text-center">Добавление новой станции</h5>
                <br>
                {{if $Val.Error}}
                <h6>{{$Val.Error}}</h6>
                {{end}}
                <form action="/admin/addpbx/" method="POST">
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">Имя:</label>
                        </div>
                        <div class="column large-8">
                            <input type="text" minlength="3" name="name" maxlength="20" required id="name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">Описание:</label>
                        </div>
                        <div class="column large-8">
                            <input type="text" name="title" minlength="5" maxlength="50" required id="title" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">IP Адрес:</label>
                        </div>
                        <div class="column large-8">
                            <input type="text" name="ipaddress" maxlength="50" required id="ipaddress" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">SSH порт:</label>
                        </div>
                        <div class="column large-8">
                            <input type="number" name="ssh" maxlength="50" required id="ssh" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">Web порт:</label>
                        </div>
                        <div class="column large-8">
                            <input type="number" name="web" maxlength="50" required id="web" />
                        </div>
                    </div>
                    <br>
                    
                     <br>
                    <input type="submit" class="button small expanded" value="Добавить" />
                </form>
            </div>

        </div>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
