<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="refresh" content="40" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Система хранения и мониторинга оконечных устройств" />
    <title>PBXmon | NLS Kazakhstan</title>
    <meta name="keywords" content="SCaMED">
    <link rel="stylesheet" href="/static/css/foundation.css">
</head>

<body>


    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar large-12 medium-centered">
            <div class="row">
                <div class="top-bar-left">
                    <a href="/"><img src="/static/img/abcom-logo1.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{$Val := index . 0}} 
    <div class="tabs-head2">
        <div class="row large-12 medium-centered">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu">
                        <a href="#0"><img src="/static/img/icon_objects.gif">Объекты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/users">Пользователи</a></li>
                            <li><a href="/">Станции</a></li>
                            <li><a href="#0">Three</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_actions.gif">Действия</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/addpbx/">Добавить АТС</a></li>
                            <li><a href="/admin/adduser">Создать пользователя</a></li>
                            <li><a href="/admin/editpbx/{{$Val.St.Id}}">Редактировать АТС</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_reports.gif">Отчеты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#0">One</a></li>
                            <li><a href="#0">Two</a></li>
                            <li><a href="#0">Three</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <h6><a href="/logout"><img src="/static/img/icon_logout.gif">Выход</a></h6>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="my-div column large-2">
            <div class="row tabs-head">
                <div class="column large-1">
                    <h6>ID</h6>
                </div>
                <div class="column large-4">
                    <h6>АТС</h6>
                </div>
                <div class="column large-3">
                    <h6 class="text-center">Стат</h6>
                </div>
            </div>
            {{range $Val.Stations}}
            <div class="row tabs-content">
                <div class="column large-1">
                    <h6>{{.Id}}</h6>
                </div>
                <div class="column large-4">
                    <h6><a href="/pbx/{{.Id}}">{{.Name}}</a></h6>
                </div>
                <div class="column large-3">
                    {{if .Status}}
                    <h6><img src="/static/img/bullet_green.png"></h6>
                    {{else}}
                    <h6><img src="/static/img/bullet_red.png"></h6>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
        <div class="column large-10">
        <div class="column large-6">
            <div class="callout">
                <div class="column large-6">
                    <h5>{{$Val.St.Title}} </h5>
                </div>
                <div class="column large-3">
                    <a target="_blank" href="http://{{$Val.St.Ipaddress}}:{{$Val.St.Webport}}">
                        <h5 class="button alert small">Web-cfg</h5>
                    </a>
                </div>
                <div class="column large-3">
                    <a target="_blank" href="http://192.168.10.12:2222/ssh/host/{{$Val.St.Ipaddress}}/{{$Val.St.SSHport}}">
                        <h5 class="button alert small">SSH-cfg</h5>
                    </a>
                </div>
                <h6>{{$Val.St.Name}} </h6>
                <div class="row tabs-head">
                    <div class="column large-5">
                        <h6>Имя</h6>
                    </div>
                    <div class="column large-5">
                        <h6>IP Адрес</h6>
                    </div>
                    <div class="column large-2">
                        <h6 class="text-left">Статус</h6>
                    </div>
                </div>
                {{range $Val.Status}}
                <div class="row tabs-content">
                    <div class="column large-5">
                        <h6>{{.Name}}</h6>
                    </div>
                    <div class="column large-5">
                        <h6><a target="_blank" href="http://{{.Ipaddress}}">{{.Ipaddress}}</a></h6>
                    </div>
                    <div class="column large-2">
                        {{if .Status}}
                        <h6><img src="/static/img/bullet_green.png"></h6>
                        {{else}}
                        <h6><img src="/static/img/bullet_red.png"></h6>
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>

        </div>
        <div class="column large-6">
            {{if not $Val.St.Status}} 
            <div class="callout alert">
                <h5>Станция не отвечает</h5>
                <h6>Последний сеанс: {{$Val.St.Lastcheck}}</h6>
            </div>
            {{end}}
            <div class="callout">
                <h5>IP Адрес: {{$Val.St.Ipaddress}}</h5>
                {{if $Val.Staff}}
                <h6>Web:{{$Val.St.Webport}}, SSH:{{$Val.St.SSHport}}</h6>
                <h6><strong>Pas: {{$Val.Pass}}</strong></h6>
                {{end}}
            </div>
            <div class="callout">
                <h5>Системный Uptime</h5>
                <h6>{{$Val.St.Uptime}}</h6>
            </div>
            <div class="callout">
                <h5>Использование ОЗУ</h5>
                {{range $Val.Ram}}
                <h6>{{.}}</h6>
                {{end}}
            </div>
            <div class="callout">
                <h5>Использование HDD</h5>
                <div class="row tabs-head">
                <div class="column large-2">
                    <h6>Disk</h6>
                </div>
                <div class="column large-2">
                    <h6>Size</h6>
                </div>
                <div class="column large-2">
                    <h6 class="text-left">Used</h6>
                </div>
                <div class="column large-2">
                    <h6 class="text-left">Free</h6>
                </div>
                <div class="column large-2">
                    <h6 class="text-left">%Use</h6>
                </div>
                <div class="column large-2">
                    <h6 class="text-left">Mount</h6>
                </div>
                </div>
                <div class="row tabs-content">
                    <div class="column large-2">
                    <h6>HDD0</h6>
                </div>
                {{range $Val.Hdd}}
                <div class="column large-2">
                    <h6>{{.}}</h6>
                </div>
                {{end}}
                </div>
            </div>

        </div>

    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
