<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="refresh" content="60" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Система хранения и мониторинга оконечных устройств" />
    <title>PBXmon | NLS Kazakhstan</title>
    <meta name="keywords" content="SCaMED">
    <link rel="stylesheet" href="/static/css/foundation.css">
</head>

<body>


    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar large-12 medium-centered">
            <div class="row">
                <div class="top-bar-left">
                    <a href="/"><img src="/static/img/abcom-logo1.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-head2">
        <div class="row large-12 medium-centered">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu">
                        <a href="#0"><img src="/static/img/icon_objects.gif">Объекты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/users">Пользователи</a></li>
                            <li><a href="/">Станции</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_actions.gif">Действия</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="/admin/addpbx/">Добавить АТС</a></li>
                            <li><a href="/admin/adduser">Создать пользователя</a></li>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#0"><img src="/static/img/icon_reports.gif">Отчеты</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#0">One</a></li>
                            <li><a href="#0">Two</a></li>
                            <li><a href="#0">Three</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <h6><a href="/logout"><img src="/static/img/icon_logout.gif">Выход</a></h6>
            </div>
        </div>
    </div>
    <br/>
    {{$Val := index . 0}}
    <div class="row">
        <div class="column large-2">
            <div class="row tabs-head">
                <div class="column large-1">
                    <h6>ID</h6>
                </div>
                <div class="column large-6">
                    <h6>Username</h6>
                </div>
                <div class="column large-4">
                    <h6 class="text-left">Active</h6>
                </div>
            </div>
            {{range $Val.Users}}
            <div class="row tabs-content">
                <div class="column large-1">
                    <h6>{{.Id}}</h6>
                </div>
                <div class="column large-4">
                    <h6><a href="/admin/usermodify/{{.Id}}">{{.Username}}</a></h6>
                </div>
                <div class="column large-3">
                    {{if .Is_active}}
                    <h6><img src="/static/img/bullet_green.png"></h6>
                    {{else}}
                    <h6><img src="/static/img/bullet_red.png"></h6>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
        <div class="column large-10">
            
            <div class="column large-6 callout">
                <h5 class="text-center">Создание нового пользователя</h5>
                <br>
                {{if $Val.Error}}
                <h6>{{$Val.Error}}</h6>
                {{end}}
                <form action="/admin/adduser/" method="POST">
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">Логин:</label>
                        </div>
                        <div class="column large-8">
                            <input type="text" minlength="3" name="username" maxlength="20" required id="username" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">Пароль:</label>
                        </div>
                        <div class="column large-8">
                            <input type="text" name="password" minlength="5" maxlength="50" required id="password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">Имя:</label>
                        </div>
                        <div class="column large-8">
                            <input type="text" name="firstname" maxlength="50" required id="firstname" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">Фамилия:</label>
                        </div>
                        <div class="column large-8">
                            <input type="text" name="lastname" maxlength="50" required id="lastname" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">E-Mail:</label>
                        </div>
                        <div class="column large-8">
                            <input type="email" name="email" maxlength="50" required id="email" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">Активен:</label>
                        </div>
                        <div class="column large-8">
                            <div class="switch tiny">
                              <input class="switch-input" id="isactive" type="checkbox" value="1" name="isactive">
                              <label class="switch-paddle" for="isactive">
                                <span class="show-for-sr">Активен</span>
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">Инженер:</label>
                        </div>
                        <div class="column large-8">
                            <div class="switch tiny">
                              <input class="switch-input" id="istech" type="checkbox" value="1" name="istech">
                              <label class="switch-paddle" for="istech">
                                <span class="show-for-sr">Инженер</span>
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column large-4">
                            <label for="id_client_name">Администратор:</label>
                        </div>
                        <div class="column large-8">
                            <div class="switch tiny">
                              <input class="switch-input" id="isadmin" type="checkbox" value="1" name="isadmin">
                              <label class="switch-paddle" for="isadmin">
                                <span class="show-for-sr">Администратор</span>
                              </label>
                            </div>
                        </div>
                    </div>
                     <br>
                    <input type="submit" class="button small expanded" value="Создать пользователя" />
                </form>
            </div>
         <div class="column callout large-5">
            <h6>В системе предусмотрено 4 уровня доступа.</h6>
            <h6>1. Пользователь.</h6>
            <h6>Пользователь имеет только одну возможность. Видеть страницу входа в систему
            и ввести логин и пароль.</h6>
            <h6>2. Авторизованый Пользователь.</h6>
            <h6>Может смотреть но не может ничего менять.</h6>
            <h6>3. Инженер</h6>
            <h6>Может добавлять и редактировать станции.</h6>
            <h6>4. Администратор</h6>
            <h6>Может добавлять и редактировать пользователей и станции.</h6>

        </div>
        </div>
        
        
    </div>
    <div class="row position-bottom">
        <hr>
        <p class="float-left">© "Pavel Agafonov" 2001-2017.</p>
    </div>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>
